# =============================================================================
# Copy this file to .env and fill in your values
# cp .env.example .env
# =============================================================================

# Ghost
database__client=mysql
database__connection__host=db
database__connection__user=ghost
database__connection__password=change-me
database__connection__database=ghost_db
url=https://kalp.dev
NODE_ENV=production

# MySQL
MYSQL_ROOT_PASSWORD=change-me-root
MYSQL_USER=ghost
MYSQL_PASSWORD=change-me
MYSQL_DATABASE=ghost_db
